@import url("./_song.scss");
@import url("./_player.scss");
@import url("./_library.scss");
@import url("./_nav.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(88, 88, 88);
}
.App {
  padding-top: 1.5rem;
}
body {
  font-family: "Lato", sans-serif;
}
h3,
h4 {
  font-weight: 400;
  color: rgb(63, 63, 63);
}
